:root {
  --bg-color: #e6e7ee;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  background-color: var(--bg-color);
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

h1 {
  text-align: center;
}

.container {
  background-color: var(--bg-color);
  max-width: 640px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
}

.neuromorphic-shadows {
  -webkit-box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
}

.neuromorphic-shadows-inside {
  -webkit-box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
}

form {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  padding: 20;
  margin: 0 auto;
}

label {
  margin-right: 0.5rem;
  font-weight: bold;
}

form input {
  height: 45px;
  width: 20%;
  border: transparent;
  /* border-radius: 50px; */
  overflow: hidden;
  /* padding: 0 20px; */
  cursor: pointer;
}

form input:focus {
  border: 1px solid #fff;
}
